@model Customer
@{
}
<!DOCTYPE html>
<html>
<body>
<div asp-validation-summary="All"></div>
<h1>@ViewBag.title, @ViewBag.Name!</h1>
<br />
<p>@Model.Username's e-mail will be @ViewBag.CU</p>
</body>
</html>